@import "tailwindcss"; 


/* انتقال‌های نرم برای تمام المان‌ها */
* {
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

/* استایل‌های سفارشی برای اسکرول بار در حالت دارک */
.dark ::-webkit-scrollbar {
  width: 8px;
}

.dark ::-webkit-scrollbar-track {
  background: #374151;
}

.dark ::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

/* استایل‌های سفارشی برای اسکرول بار در حالت لایت */
.light ::-webkit-scrollbar {
  width: 8px;
}

.light ::-webkit-scrollbar-track {
  background: #f3f4f6;
}

.light ::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 4px;
}

.light ::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}